@model OLIVIEM.Viewmodel.Productviewmodel
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="Home/index">Oliviem</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Home">Home</a>
                </li>
                @*<li class="nav-item">
            <a class="nav-link" href="Login/index">Inloggen/Registreren</a>
        </li>*@

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mijn Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="Login/index">Inloggen</a>
                        <a class="dropdown-item" href="Register/index">Registreren</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categorieën
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @foreach (var item in Model.Categorylist)
                        {
                            <a href="allproducts/getcategoryproduct?categoryname=@item">@item</a>
                        }
                    </div>

                <li class="nav-item">
                    <a class="nav-link" href="#">Shoppingcart</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="col-lg-9">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" width= "1000" src="https://www2.hm.com/content/dam/HM%20Magazine%202018/The%20Tryout/18_50-A-TryOut-Party_start.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Third slide">
                    </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->
        <!-- /.row -->
        <!-- /.container -->
        <!-- Footer -->

    @*<input type="text" class="form-control" asp-placeholder="Saldo" required>
        <input type="submit" value="AddSaldo" class="btn btn-info btn-block rounded-0 py-2">*@

    @foreach (var item in @Model.products)
    {
        <div class="col-md-4" style="padding: 10px;">
            <div class="card">
                <img class="card-img-top" src="@item.Image" alt="Card image cap" style="width: 100%; padding: 10px;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="#" class="text-dark">@item.Name</a>
                    </h5>
                </div>
                <div class="card-footer">
                    <div class="float-left">
                        <a href="#" class="text-danger">€ @item.Price</a>
                    </div>
                </div>
            </div>
        </div><!--.col-->
    }
    @*<footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
         /.container 
    </footer>*@

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
